@use '../../styles/variables' as v;

.item {
  background-color: v.$alt-black;
  border: 1px solid v.$primary-gray;
  border-radius: v.$border-radius-base;
  padding: 16px;
  color: v.$primary-white;
  font-family: v.$font-primary;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: v.$primary-blue;
  }

  p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: v.$primary-blue;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  p:last-child {
    font-size: 14px;
    color: v.$primary-light-gray;
  }
}