@use '../../styles/variables' as v;

.item {
  display: flex;
  flex-direction: row;
  border: 1px solid v.$primary-gray;
  border-radius: v.$border-radius-base;
  padding: 4px;
  color: v.$primary-white;
  font-family: v.$font-primary;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: v.$primary-blue;
  }

  &__text {
    gap: 10px;
    flex: 1;
    min-width: 0;
  }

  p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: v.$primary-blue;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  p:last-child {
    font-size: 14px;
    color: var(--font-color-primary);
  }

  input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
