// root
$primary-black: #121214;
$alt-black: #1a1a2e;
$primary-dark-blue: #1a1a5e;
$primary-blue: #49d0ff;
$primary-white: #fff;
$primary-gray: #424347;
$primary-light-gray: #8c8f96;
$primary-red: #ff6363;
$primary-yellow: #f5c518;
$font-primary: 'Montserrat', sans-serif;
$border-radius-base: 5px;
