@use './styles/variables' as v;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: v.$font-primary;
  background-color: var(--background-primary);
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  &__theme-switcher {
    padding: 8px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: var(--buttons-primary);
    color: var(--font-color-primary);
    transition: 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

.items-search {
  border: 1px solid var(--buttons-primary);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.items-result {
  border: 1px solid var(--buttons-primary);
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--buttons-primary);
  border-radius: 8px;
  background: var(--background-alt);
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.error-btn {
  position: fixed;
  bottom: 24px;
  right: 10px;
  padding: 10px 20px;
  background-color: v.$primary-red;
  color: v.$primary-white;
  border: none;
  border-radius: v.$border-radius-base;
  font-family: v.$font-primary;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.85;
  }
}

